body {
    background-color:rgb(247, 20, 216);
}

h1,h2,h3,h4,h5,p,label {
    color: rgb(0, 0, 0);
}

.top-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    padding: 1em;
}
/* #header > h2 {
    text-shadow: 1px 1px 1px rgb(255, 252, 252); */

nav > a {
    font-size: 2rem;
    text-shadow: 2px 2px 2px white;
}

#header {
    display:flex;
    justify-content:space-around;
    margin-bottom: 1em;
    padding: 1em;
    width: 800px;
    height:300px;
}

img {
    width: 250px;
    /* align-self: center; */
}

.btn-primary {
    color: #ff4ad8;
    background-color: #000000;
    border-color: #fdfdfd;
}

#wrap{
    margin: 0px auto;
    background-color: rgb(156, 155, 155);
    width: 950px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 25px;
}
