<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add a job</title>
</head>
<body>
        <div id="top-nav">
            <a href="/logout">Logout</a>
            <a href="/brands/dashboard">Back</a>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-4 px-2">
                    <h1>Add a job</h1>
                    {% for message in messages %}
                    <p>- {{message}} -</p>
                {% endfor %}
    <form action="/brands/create" method="POST">
    {% csrf_token %}
    <label for="job_description">Job Description </label>
    <input type="text" name="job_description" id="job_description" class="form-control">
    <label for="company_name">Company Name:</label>
    <input type="text" name="company_name" id="company_name" class="form-control">
    <label for="category">Category:</label>
    <input type="text" name="category" id="category" class="form-control">
    <button>Submit</button>
    </form>
        </div>
            </div>
                </div>
</div>
</body>
</html>
